# Ignorar carpetas de sistema
Configuración\ local/
Cookies/
Datos\ de\ programa/
Documents/Mi\ música/
Documents/Mis\ imágenes/
Documents/Mis\ vídeos/
Entorno\ de\ red/
Impresoras/
Menú\ Inicio/
Mis\ documentos/
Plantillas/
Reciente/
SendTo/
NTUSER.*
*.ini
*.log

# Ignorar archivos de configuración
.bash_history
.config/
.gitconfig
.ipython/
.vscode/
.spyder-py3/
